{% extends "order/base.html" %}
{% block content %}
{{ service }}
<!-- <br>
<form action="/order/addmusician/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form> -->
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Add a Musician</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <form col col-sm-6>
            <div class="form-group row ">
                <label for="musician" class="col-form-label col-sm-6">Musician</label>
                <input type="text" class="form-control col col-sm-6" id="musician">
            </div>
            <div class="form-group row">
                <label for="hymn" class="col-form-label col-sm-6">Hymn</label>
                <input type="text" class="form-control col col-sm-6" id="hymn">
            </div>
            <div class="form-group row">
                <label for="service" class="col-form-label col-sm-6">Service</label>
                <input type="text" class="form-control col col-sm-6" id="service">
            </div>
            <div class="row">
                <button type="submit" class="btn btn-secondary  ml-auto d-flex">Submit</button>
            </div>
        </form>
    </div>

    {% endblock content %}