{% extends "order/base.html" %}
{% block content %}

{{ service }}
<!-- <br>
<form action="/order/addservice/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form> -->
<div class="container">
    <div class="row justify-content-center">
        <form col col-sm-6 action="/order/addservice/" method="post">
        {% csrf_token %}
            <div class="form-group row ">
                <label for="serviceDate" class="col-form-label col-sm-6">Date</label>
                {{ form.date }}
            </div>
            <div class="form-group row">
                <label for="serviceTheme" class="col-form-label col-sm-6">Service Theme</label>
                {{ form.theme }}
            </div>
            <div class="form-group row">
                <label for="serviceLeader" class="col-form-label col-sm-6">Leader</label>
                {{ form.leader }}
            </div>
            <div class="form-group row">
                <label for="servicePreludeTime" class="col-form-label col-sm-6">Prelude Time</label>
                {{ form.prelude_time }}
            </div>
            <div class="form-group row">
                <label for="serviceHymn_1" class="col-form-label col-sm-6">Hymn 1</label>
                {{ form.hymn_1 }}
            </div>
            <div class="form-group row">
                <label for="serviceHymn_2" class="col-form-label col-sm-6">Hymn 2</label>
                {{ form.hymn_2 }}
            </div>
            <div class="form-group row">
                <label for="serviceHymn_3" class="col-form-label col-sm-6">Hymn 3</label>
                {{ form.hymn_3 }}
            </div>
            <div class="form-group row">
                <label for="serviceAnnouncements" class="col-form-label col-sm-6">Announcements</label>
                {{ form.announcements }}
            </div>
            <div class="form-group row">
                <label for="serviceSermon" class="col-form-label col-sm-6">Sermon</label>
                {{ form.sermon }}
            </div>
            <div class="form-group row">
                <label for="serviceMusician1" class="col-form-label col-sm-6">Musician One</label>
                {{form.musician1 }}
            </div>
            <div class="form-group row">
                <label for="serviceMusician2" class="col-form-label col-sm-6">Musician Two</label>
                {{ form.musician2 }}
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>


</div>

{% endblock content %}
