{% extends "order/base.html" %}
{% block content %}

{{ service }}
<!-- <br>
<form action="/order/addservice/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form> -->
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Add a Service</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <form col col-sm-6>
            <div class="form-group row ">
                <label for="serviceDate" class="col-form-label col-sm-6">Date</label>
                <input type="date" class="form-control col col-sm-6" id="serviceDate">
            </div>
            <div class="form-group row">
                <label for="serviceTheme" class="col-form-label col-sm-6">Service Theme</label>
                <input type="text" class="form-control col col-sm-6" id="serviceTheme">
            </div>
            <div class="form-group row">
                <label for="serviceLeader" class="col-form-label col-sm-6">Leader</label>
                <input type="text" class="form-control col col-sm-6" id="serviceLeader">
            </div>
            <div class="form-group row">
                <label for="servicePreludeTime" class="col-form-label col-sm-6">Prelude Time</label>
                <input type="text" class="form-control col col-sm-6" id="servicePreludeTime">
            </div>
            <div class="form-group row">
                <label for="serviceAnnouncements" class="col-form-label col-sm-6">Announcements</label>
                <input type="text" class="form-control col col-sm-6" id="serviceAnnouncements">
            </div>
            <div class="form-group row">
                <label for="serviceSermon" class="col-form-label col-sm-6">Sermon</label>
                <input type="text" class="form-control col col-sm-6" id="serviceSermon">
            </div>
            <div class="form-group row">
                <label for="serviceMusician1" class="col-form-label col-sm-6">Musician One</label>
                <input type="text" class="form-control col col-sm-6" id="serviceMusician1">
            </div>
            <div class="form-group row">
                <label for="serviceMusician2" class="col-form-label col-sm-6">Musician Two</label>
                <input type="text" class="form-control col col-sm-6" id="serviceMusician2">
            </div>
            <div class="row">
                <button type="submit" class="btn btn-secondary  ml-auto d-flex">Submit</button>
            </div>

        </form>
    </div>


</div>

{% endblock content %}